<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/ndual.js"></script>
<script>
    Ndual(function(message){

        var e = document.createElement('p');
        e.innerHTML = message;
        document.body.appendChild(e);
            //console.log(message)
    })
</script>
  </body>
</html>
